NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

PASS_NITIN=
PASS_SPOUSE=
PASS_DOCTOR=

EMAIL_NITIN=
EMAIL_SPOUSE=
EMAIL_DOCTOR=

KV_REST_API_URL=
KV_REST_API_TOKEN=

ANTHROPIC_API_KEY=

NEXT_PUBLIC_APP_NAME=Health Tracker
